@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Oswald:wght@300&display=swap');
*{
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Oswald', sans-serif;
}


body{
    background-color: blanchedalmond;
}

.name{
    background-color:burlywood;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding: 50px 40px 30px 20px;
    
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin: 50px 40px 30px 20px;

    border: 8px solid navajowhite;

    min-width: 75%;
    width: 50%;
    min-height: 100px;
    height: 100px;

    font-size: 50px;
    font-weight: bold;
    line-height: 50px; 
}

.gambar{
    text-align: center;
   border-radius: 50%;
   
}
.gambar1>.gambar-saya{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
     margin: auto;

}

:root {
    --warnamerah: red;
    --warnabiru: blue;
    --warnahijau: green;
    --lebarkotak: 300px;
    --tinggikotak: 300px;
}

.kotak-1{
    width: var(--lebarkotak);
    height: var(--tinggikotak);
    margin: 10px;
    background-color: var(--warnamerah);
}

.kotak-2{
    width: var(--lebarkotak);
    height: var(--tinggikotak);
    margin: 10px;
    background-color: var(--warnabiru);
}

.kotak-3{
    width: var(--lebarkotak);
    height: var(--tinggikotak);
    margin: 10px;
    background-color: var(--warnahijau);
}





